@model  Zoo

@{
    ViewData["Title"] = "Cadastrar";
}

<h2>Cadastro de Zoo</h2>

<form asp-action="cadastrar" asp-controller="zoo">
    <partial name="_formulario"/>
    <botao texto="Cadastrar"/>
</form>